@import "partials/constants";
@import "partials/mixins";
@import "partials/nav";
@import "partials/footer";
@import "font-awesome/font-awesome";



body{
  @include sourceSans(400, regular);
  color: $baseGrey;
}

a{
  color: inherit;
  text-decoration: none;
}

.btn{
  @include button;
}