@import "common";

.aboutHead{
  @include coverBackground('../img/AboutBackgrond.png');
  height: 360px;
  width: 100%;
  padding-top: 130px;
  text-align: center;

  .container{
    padding: 20px;
  }

  h1{
    font-size: 30px;
    @include rokkitt;
    font-weight: normal;
    margin-bottom: 3px;
    color: $baseLight;
    text-transform: uppercase;
  }

  h2{
    font-size: 14px;
    color: $baseLight;
  }

}

.feeds{
  width: 100%;
  box-sizing: border-box;

  .container{
    padding: 20px;
  }

  .title{
    font-size: 18px;
    color: $midBlue;
  }
  .pubdate{
    font-size: 12px;
    font-style: italic;
    color: $grey;
  }

  .post{
    margin: 20px 0px;
  }

  .post:nth-child(n+7) {
    display: none
  }


  h2{
    font-size: 25px;
    @include rokkitt;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  .socialIcon{
    width: 17%;
    margin: 1%;
    text-align: center;
    display: inline-block;
  }
}


@include largerThanTablet{
  .aboutHead{
    font-weight: 100;
    line-height: 30px;
    padding-top: 180px;
    h1{
      font-size: 50px;
      margin-bottom: 20px;
    }
    h2{
      font-size: 25px;
    }
  }

  .feeds{

    h2{
      font-size: 35px;
      text-align: left;
    }
    .container{
      @include fixedContainer;
      display: block;
    }

    .title{
      font-size: 20px;
    }

    .pubdate{
      font-size: 14px;
    }

    .medium{
      width: 60%;
      display: inline-block;
      float: left;
      height: 700px;

    }

    .twitter{
      width: 100%;
      height: 595px;
      overflow: scroll;

    }

    .post:nth-child(n+7) {
      display: block;
    }


    .social{
      margin-top: -20px;
      width: 40%;
      display: inline-block;
      float: right;
      padding: 20px;
    }
  }

  .separator{
    width: 100%;
    height: 40px;
    float: left;
  }
}