@import "common";


.desktop{
  display: none;
}

.mobile{
  .header{
    width: 100%;
    @include coverBackground('../img/borrowersTop.png');
    height:340px;
  }

  .middle{
    width: 100%;
    padding: 10px;
    text-align: center;

    .btn{
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      padding: 10px 30px;
      margin-bottom: 20px;
      @include sourceSans(400, normal);
    }

    h1{
      @include rokkitt;
      color: $midBlue;
      font-size: 24px;
      margin-bottom: 20px;
    }

    b, p{
      display: block;
      line-height: 20px;
    }

    b{
      font-weight: 600;
      margin-bottom: 0px;

      i{
        color: $midBlue;
      }
    }

    p{
      padding-left: 10px;
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
}

@include largerThanPhablet{

  nav {
    .product {
      text-align: center;
      b {
        text-align: center;
        display: block;
        position: absolute;
        font-size: 12px;
        width: 150px;
        @include sourceSans(400, normal);
        margin-left: -35px;

        color: $darkBlue;
      }
    }
  }

  .mobile{
    display: none !important;
  }

  .desktop{
    display: block;

    .header{
      height: 850px;
      width: 100%;
      @include coverBackground('../img/borrowersPhoto.png');

      b, p{
        display: block;
      }


      .text1{
        position: absolute;
        width: 200px;
        text-align: right;
        color: #FFF;
        top: 175px;
        left: calc(23% - 210px);
        font-weight: 300;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        line-height: 20px;

        b{
          font-weight: 600;
        }
      }


      .text2{
        position: absolute;
        width: 200px;
        text-align: left;
        color: #FFF;
        top: 140px;
        left: 78%;
        font-weight: 300;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        line-height: 20px;

        b{
          font-weight: 600;
        }

        p:before{
          content: "- ";
        }
      }


      .btn{
        position: absolute;
        width: 250px;
        max-width: 200px;
        font-size: 20px;
        border-radius: 3px;
        left: 50%;
        margin-left: -150px;
        top: 700px;
        margin-top: -150px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
      }


    }

    .middle{
      width: 100%;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
      height: 280px;

      .container{
        max-width: 1440px;
        position: relative;
        margin: 0px auto;

      }

      .box{
        box-sizing: border-box;
        float: left;
        height: 280px;
        width: 33%;
        padding: 60px 30px;
        text-align: center;
        font-weight: 300;
        font-size: 18px;

        h2 {
          @include rokkitt;
          font-size: 28px;
          color: $midBlue;
          text-transform: uppercase;
          margin-bottom: 15px;

          i {
            color: $baseGrey;
          }
        }


        .border{
          height: 170px;
          padding: 0px 30px;
          border-right: 1px solid $borderGrey;
          border-left: 1px solid $borderGrey;
          width: 100%;
        }
      }

      .box:nth-child(2){
        padding: 60px 0px;
      }

    }
  }

  .lower{
    width: 100%;
    @include coverBackground('../img/productDots.png');

    .container{
      max-width: 1440px;
      position: relative;
      margin: 0px auto;
      height: 500px;
      padding: 20px;
      background-image: url("../img/borrowersGuy.png");
      background-position: right bottom; /*Positioning*/
      background-repeat: no-repeat; /*Prevent showing multiple background images*/
      background-size: 50%;

      h2{
        width: 100%;
        font-size: 48px;
        @include rokkitt;
        color: $midBlue;
      }

      .text{
        width: 50%;
        font-size: 22px;
        font-weight: 300;

        .requestDemo{
          width: 100%;
          color: $darkGreen;
          font-size: 25px;
          text-align: center;
          display: block;
          margin-top: 30px;
          font-weight: 400;
          text-transform: uppercase;
          text-decoration: underline;
        }

        b, p{
          display: block;
        }

        p{
          padding-left: 20px;
        }

        b{
          font-weight: 600;
          margin-bottom: 5px;
          margin-top: 30px;

        }
      }
    }
  }
}


@media (max-width: 890px) {
  .text1{
    left: 0px !important;
    text-align: left !important;
    padding-left: 10px;
    top: 230px !important;;
  }

  .text2{
    left: 100% !important;;
    margin-left: -200px !important;;
    text-align: right !important;
    top: 200px !important;
    padding-right: 10px;
  }

}