@import "common";

.homeHead{
  @include coverBackground('../img/homePhotoMobile.png');
  width: 100%;
  height: 480px;
  color: $baseLight;

  .container{
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h1{
    font-size: 30px;
    @include rokkitt;
    font-weight: normal;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 3px;
  }

  h2{
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .btn{
    width:175px;
  }

}

.homeMid{
  font-weight: 300;
  font-size: 14px;

  .container{
    padding: 30px 20px;
  }

  .screenCaps{
    width: 100%;
    margin-top: 30px;
    .cap{
      width: 32%;
      box-sizing: border-box;
      display: inline-block;

      img{
        width: 90%;
        margin-left:10%;
      }
    }

  }

  h2{
    @include rokkitt;
    color: $darkBlue;
    font-weight: bold;
    font-size: 18px;
  }

  .one{
    display: inline-block;
    height: 50px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;

    img{
      height: 25px;


    }
  }
}

.homeBottom{
  width: 100%;
  @include coverBackground('../img/blueDotsBackground.png');
  display: inline-block;
  padding-top: 20px;
  color: $baseLight;
  font-weight: 300;


  .lock, .text{
    display: block;
  }

  .lock{
    width: 50%;
    float: left;
    img{
      width: 100%;
    }
  }

  .text{
    width: 50%;
    float: right;
    font-size: 12px;
    text-align: center;
    padding: 10px;

    .faqBlock{
      display: none;
    }

    h2{
      color: $baseLight;
      @include rokkitt;
      font-size: 14px;
    }

    .blueMe{
      color: $midBlue;
      font-weight: bold;
    }

    .requestADemo{
      color: $darkGreen;
      text-transform: uppercase;
    }
  }


}


@include largerThanPhablet{

  .homeMid, .homeBottom{
    .container{
      @include fixedContainer;
    }
  }


  .homeHead {
    @include coverBackground('../img/homePhotoNoText.png');
    height: 920px;

    .container{
      padding-left: 20px;
      max-width: 820px;

      h1{
        font-size: 60px;
        margin-top: 25px;
      }

      h2{
        font-size: 28px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
      }

      .btn{
        font-size: 24px;
        width: auto;
        padding: 20px 100px;

      }
    }
  }

  .homeMid{


    .text{
      padding-top: 50px;
      width: 82%;
      float: left;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 50px;

      .one{
        display: inline-block;
        height: 80px;
        float: left;
        margin-right: 10px;
        margin-top: 10px;

        img{
          height: 40px;


        }
      }

      h2{
        font-size:45px;
        margin-bottom: 40px;
        line-height: 50px;
      }
    }

    .screenCaps{
      float: right;
      width: 18%;

      border-left: 1px solid $borderGrey;
      margin-bottom: 50px;

      .cap{
        width: 100%;
      }
    }
  }


  .homeBottom{
    .lock{
      width: 40%;
    }

    .text{
      padding-top: 40px;
      font-size: 18px;
      width: 60%;
      font-weight: 200;

      .requestADemo{
        @include button;
        font-size: 25px;
        display: inline-block;
        margin-top: 30px;
        padding: 20px 90px !important;

      }

      .bar{
        width: 100%;
        height: 1px;
        background-color: #205c7d;
        margin-bottom: 25px;
      }

      .faqBlock{
        display: inline-block;
      }

      .faq{
        color: $darkGreen;
        text-decoration: underline;
      }

      h2{
        font-size:45px;
        margin-bottom: 25px;
        line-height: 50px;
      }
    }
  }
}

@media (min-width: 1084px) {
  .homeHead{
    @include coverBackground('../img/homePhoto.png');
  }


}

@media (max-width: 1070px) {
  .homeMid{
    .screenCaps{
      border-left: 0px !important;
    }

    .text{
      border-right:1px solid $borderGrey !important;
    }
  }
}
