@import "common";

.desktop{
  display: none;
}

.mobile{
  .header{
    width: 100%;
    @include coverBackground('../img/lendersTop.png');
    height:340px;

  }
  .middle{
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: -50px;

    .btn{
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      padding: 10px 30px;
      margin-bottom: 20px;
      @include sourceSans(400, normal);
    }


    h1{
      @include rokkitt;
      color: $midBlue;
      font-size: 24px;
      margin-bottom: 20px;
    }

    b, p{
      display: block;
      margin-bottom: 10px;
      line-height: 20px;
    }


    b{
      font-weight: 600;
      margin-bottom: 0px;

      i{
        color: $midBlue;
      }
    }

    p{
      padding-left: 10px;
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
}

@include largerThanPhablet{

  nav {
    .product {
      text-align: center;
      b {
        text-align: center;
        display: block;
        position: absolute;
        font-size: 12px;
        @include sourceSans(400, normal);
        margin-left: -10px;
        color: $darkBlue;
      }
    }
  }
  .mobile{
    display: none;
  }

  .desktop{
    display: block;

    .header{
      height: 700px;
      width: 100%;
      @include coverBackground('../img/lendersPhoto.png');

      .btn{
        position: absolute;
        width: 300px;
        max-width: 300px;
        font-size: 20px;
        left: 50%;
        margin-left: -150px;
        top: 700px;
        text-align: center;
        margin-top: -80px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
      }

      .text1{
        position: absolute;
        width: 200px;
        text-align: right;
        color: #FFF;
        top: 490px;
        left: calc(23% - 210px);
        font-weight: 300;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

        b{
          font-weight: 600;
        }
      }

      .text2{
        position: absolute;
        width: 200px;
        color: #FFF;
        top: 90px;
        left: 55%;
        font-weight: 300;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

        b{
          font-weight: 600;
        }

      }
      .text3{
        position: absolute;
        width: 200px;
        color: #FFF;
        top: 360px;
        left: 77%;
        font-weight: 300;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

        b{
          font-weight: 600;
        }

      }

    }

    .middle{
      width: 100%;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
      height: 280px;

      .container{
        max-width: 1440px;
        position: relative;
        margin: 0px auto;

      }

      .box{
        box-sizing: border-box;
        float: left;
        height: 280px;
        width: 33%;
        padding: 60px 30px;
        text-align: center;
        font-weight: 300;
        font-size: 18px;

        h2 {
          @include rokkitt;
          font-size: 28px;
          color: $midBlue;
          text-transform: uppercase;
          margin-bottom: 15px;

          i {
            color: $baseGrey;
          }
        }


        .border{
          height: 170px;
          padding: 0px 30px;
          border-right: 1px solid $borderGrey;
          border-left: 1px solid $borderGrey;
          width: 100%;
        }
      }

      .box:nth-child(2){
        padding: 60px 0px;
      }
    }
  }

  .lower{
    width: 100%;
    @include coverBackground('../img/productDots.png');

    .container{
      max-width: 1440px;
      position: relative;
      margin: 0px auto;
      height: 500px;
      padding: 20px;
      background-image: url("../img/lendersGuy.png");
      background-position: right bottom; /*Positioning*/
      background-repeat: no-repeat; /*Prevent showing multiple background images*/
      background-size: 50%;

      h2{
        width: 100%;
        font-size: 48px;
        @include rokkitt;
        color: $midBlue;
      }

      .text{
        width: 50%;
        font-size: 22px;
        font-weight: 300;

        .requestDemo{
          width: 100%;
          color: $darkGreen;
          font-size: 25px;
          text-align: center;
          display: block;
          margin-top: 30px;
          font-weight: 400;
          text-transform: uppercase;
          text-decoration: underline;
        }

        b, p{
          display: block;
        }

        b{
          font-weight: 600;
          margin-bottom: 5px;
          margin-top: 30px;

        }

        p{
          padding-left: 20px;
        }
      }
    }
  }

}

@media (max-width: 1440px) {
  .desktop{
    .header{
      max-height: 700px !important;
    }
  }
}

@media (max-width: 890px) {

  .text1{
    left: 0px !important;
  }

  .text2{
    left: 57% !important;
  }

  .text3{
    width: 20% !important;;
  }
  
  .lower{
    .container{
      background-image: none;

      .text{
        width: 100%;
      }
    }
  }

  .box{
    height: auto;
    font-size: 14px !important;
  }
  

}