<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LendSnap - </title>
    <link rel="stylesheet" href="sass/about.css">
</head>
<body>

<div class="mobileMenu">
    <a href="index.html">
        Home
    </a>
    <a href="lenders.html">
        Lenders
    </a>
    <a href="borrowers.html">
        Borrowers
    </a>
    <a href="about.html">
        About
    </a>
</div>
<nav>
    <a href="index.html">
        <div class="logo"></div>
    </a>

    <div class="desktopMenu">
        <a class="normalLink" href="index.html">
            Home
        </a>

        <a class="normalLink product" href="#">
            Product
            <div class="productDropdown">
                <a href="lenders.html">
                    Lenders
                </a>
                <a href="borrowers.html">
                    Borrowers
                </a>
            </div>
        </a>


        <a class="normalLink current" href="about.html">
            About
        </a>

        <a class="loginButton typeform-share link" href="https://orion1.typeform.com/to/sqv5S1" data-mode="2" target="_blank"><i class="fa fa-lock"></i> LOGIN</a>
    </div>
    <div class="mobileMenuTrigger">
        <a class="menuButton">MENU</a>
        <a class="loginButton typeform-share link" href="https://orion1.typeform.com/to/sqv5S1" data-mode="2" target="_blank"><i class="fa fa-lock"></i> LOGIN</a>
    </div>


</nav>

<section class="aboutHead">
    <div class="container">
        <h1>Our Mission</h1>
        <h2>Lendsnap streamlines the mortgage application process, simplifying gathering <br>and sharing of required mortgage documentation between lenders and borrowers.</h2>
    </div>
</section>

<section class="feeds">

    <div class="container">
        <div class="medium">
            <h2>In the News</h2>
            <div class="post" v-for="item in feed.item">
                <a target="_blank" class="title" href="{{item.link}}">{{item.title}}</a><br>
                <span class="pubdate">{{item.pubDate}}</span>
            </div>

        </div>
        <div class="social">
            <div class="twitter">
                <a class="twitter-timeline"  data-chrome="noscrollbar noborders nofooter noheader transparent" data-tweet-limit="5" href="https://twitter.com/Lendsnap" height="400" data-widget-id="711775057530494976">Tweets by @Lendsnap</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <br><br>

            <a class="socialIcon" href="https://www.facebook.com/Lendsnap-723816921041992/?fref=ts"><img src="img/social/blueFacebook.png"> </a>
            <a class="socialIcon" href="https://twitter.com/lendsnap"><img src="img/social/blueTwitter.png"> </a>
            <a class="mailto:help@lendsnap.com" href="facebook"><img src="img/social/blueMail.png"> </a>
        </div>
    </div>
</section>

<div class="separator">

</div>

<footer>
    <div class="container">
        <div class="left">
            <h1>Get in touch with us!</h1>
            Learn how Lendsnap can help you improve your business.
            <Br><br>

            <a class="btn typeform-share link" href="https://orion1.typeform.com/to/dkj9CV" data-mode="2" target="_blank"><i class="fa fa-check-square"></i> Contact</a>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        </div>
        <div class="right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50389.295571155126!2d-122.31572707435488!3d37.875941838195835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808579363a8549d3%3A0x94ea1595a675e993!2sBerkeley%2C+CA!5e0!3m2!1sen!2sus!4v1458685048358" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container">
        <div class="bottom">
            <div class="social">
                <a target="_blank" href="https://www.facebook.com/Lendsnap-723816921041992/?fref=ts"><img src="img/social/greyFacebook.png"> </a>
                <a target="_blank" href="https://twitter.com/lendsnap"><img src="img/social/greyTwitter.png"> </a>
                <a target="_blank" href="mailto:help@lendsnap.com"><img src="img/social/greyMail.png"> </a>

            </div>
            &copy; Lendsnap.  All Rights reserved.  2014-2016
        </div>
    </div>
</footer>

<script src="js/jquery-1.12.2.min.js"></script>
<script src="js/jquery.feedToJSON.js"></script>
<script src="js/nav.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/about.js"></script>
</body>

</html>