@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300,300italic,600,200,100|Rokkitt:400,700);

$darkBlue: #20465b;
$midBlue: #4d8dbb;
$lightBlue: #5a9ac5;
$baseGrey: #323332;
$darkGreen: #7dc242;
$lightGrey: #f2f6f8;
$grey: #adadad;
$baseLight: #FFFFFF;
$borderGrey: #e0e3e5;

@mixin sourceSans($weight, $style) {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin rokkitt{
  font-family: 'Rokkitt', serif;

}

/* MEDIA QUERIES */
@mixin largerThanMobile {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin largerThanPhablet {
  @media (min-width: 550px) {
    @content;
  }
}

@mixin largerThanTablet {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin largerThanTabletHD {
  @media (min-width: 930px) {
    @content;
  }
}

@mixin largerThanDesktop {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin largerThanDesktopHD {
  @media (min-width: 1200px) {
    @content;
  }
}