footer{

  .container{
    width: 100%;
    display: block;
  }

  .left{
    width: 55%;
    float: left;
    padding: 10px;
    background-color: $lightGrey;
    color: $grey;
    text-align: center;
    font-weight: 300;
    font-size: 12px;

    h1{
      @include rokkitt;
      font-size: 16px;
      color: $darkBlue;
      text-transform: uppercase;
      font-weight: bold;
    }

    button{
      font-size: 14px;
      font-weight: 400;
      padding: 5px 20px;
      border-radius: 3px;
    }

  }

  .right{
    width: 45%;
    float: right;

    iframe{
      height: 100px;
    }
  }

  .bottom{
    width: 100%;
    background-color: $baseGrey;
    padding: 20px 10px;
    float: left;
    color: $grey;
    font-size: 10px;
    text-align: center;

    a{
      display: inline-block;
      margin: 5px;
    }

  }
}

@include largerThanPhablet{
  $footerHeight: 275px;
  footer{

    .bottom{
      padding-top: 35px !important;
      text-align: right !important;

      .social{
        float: left;
        margin-top: -10px;

      }

    }

    .left{
      padding: 50px 20px;
      height: $footerHeight;
      font-size:22px;

      h1{
        font-size: 40px;
      }


      .btn{
        font-size: 18px;
        font-weight: 400;
        padding: 10px 60px;
        border-radius: 3px;

      }
    }



    .right{

      iframe{
        height: $footerHeight;
      }
    }
  }
}