@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/********* CSS RESET **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
  margin-top: 0 !important;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
div, section, form, fieldset, input, select, ul, li, a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/***************************************/


.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}


@mixin fixedContainer{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@mixin coverBackground($image){
  background-image: url($image);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

@mixin button{
  background-color: $darkGreen;
  border: 0px;
  color: $baseLight;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  @include rokkitt;
  cursor: pointer;
}