
.mobileMenu{
  position: fixed;
  display: none;
  width: 100%;

  a{
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: $lightGrey;
    border-top: 1px solid $borderGrey;
  }
}

nav.selected{
  top: 140px;
  background-color: $lightGrey;
  background-color: $lightGrey;
  transition: 0.2s;

  .logo{
    @include coverBackground("../img/logoDark.png");
  }


  .menuButton, .normalLink{
    color: $baseGrey !important;
  }

}

nav{
  width: 100%;
  max-height: 50px;
  height: 50px;
  background-color: transparent;
  position: fixed;
  z-index: 100;



  .desktopMenu{
    display: none;
  }

  .logo{
    @include coverBackground("../img/logoLight.png");
    width: 160px;
    height: 44px;
    margin-top: 3px;
    float: left;
  }
  .loginButton{
    color: $darkGreen;
  }


  .mobileMenuTrigger{
    float: right;
    @include rokkitt;
    font-size: 16px;
    position: relative;
    margin-top:20px;
    cursor: pointer;
    margin-right: 10px;

    a{
      display: inline-block;
      margin-left: 10px;
    }

    .menuButton{
      color: $baseLight;
    }


  }

}

.scrolled{
  background-color: $lightGrey;
  transition: 0.2s;

  .logo{
    @include coverBackground("../img/logoDark.png");
  }


  .menuButton, .normalLink{
    color: $baseGrey !important;
  }


  .normalLink.current{
    border-top: 2px solid $baseGrey !important;
  }



}

@include largerThanPhablet{
  .mobileMenu{
    display: none !important;
  }

  nav{
    max-height: 60px;
    height: 60px;
    letter-spacing: 1px;


    .mobileMenuTrigger{
      display: none;
    }

    .product{
      text-align: center;
      z-index: 10;
      position: relative;
      b{
        text-align: center;
        width: 100px;
        display: block;
        position: absolute;
        font-size: 12px;
        @include sourceSans(400, normal);
        margin-left: -10px;
        color: $darkBlue;
      }
    }

    .productDropdown{
      display: none;
      position: absolute;
      background-color: $lightGrey;
      top: 40px;
      color: $baseGrey;
      width: 180px;
      right: 145px;
      z-index:0;

      text-align: center;

      a{
        display: block;
        position: relative;
        text-align: center;

        margin: 0px !important;
        width: 100%;
      }

      a:nth-child(2), a:nth-child(3){
        @include sourceSans(400, normal);
        font-size:16px;
        padding: 10px 0px;
      }

      a:nth-child(3){
        border-top: 1px solid $borderGrey;
      }

      a:hover{
        color: $darkGreen;
      }
    }



    .productDropdown:after{
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(242, 246, 248, 0);
      border-bottom-color: #f2f6f8;
      border-width: 20px;
      margin-left: -20px;
      z-index: 0;
    }

    .logo{
      @include coverBackground("../img/logoLight.png");
      width: 200px !important;
      height: 55px !important;
      margin-top: 3px;
      margin-left: 20px;

    }

    .desktopMenu{
      display: block !important;
      float: right;
      @include rokkitt;
      font-size: 16px;
      position: relative;
      margin-top:20px;
      cursor: pointer;
      margin-right: 15px;
      color: $baseLight;
      text-transform: uppercase;


      a{
        display: inline-block;
        margin-left: 30px;
        font-size: 18px;
        padding-top: 3px;
      }

      .current{
        border-top: 2px solid $baseLight;
      }

    }
  }
}
